div{
    border: 2px solid lightseagreen;
    background-color: rgb(191, 191, 238);
    color: rgb(63, 42, 14);
}
img{
    width: 190px;
    align-items: center;
    height: 200px;
    padding: 10px;
    

}